
# ==================================================
# ENVIRONMENT VARIABLES
# ==================================================

.env


# ==================================================
# NODE.JS
# ==================================================

node_modules/


# ==================================================
# APPLICATION LOGS
# ==================================================

logs/*.log


# ==================================================
# LOCAL / SYSTEM FILES
# ==================================================

.DS_Store
Thumbs.db
```
